/* VALID */
.ng-valid-field .p-inputtext {
  border: 2px solid #22c55e !important;
}

/* INVALID */
.ng-invalid-field .p-inputtext {
  border: 2px solid #ef4444 !important;
}

/* DISABLED */
.p-autocomplete.p-disabled .p-inputtext {
  background: #f3f4f6 !important;
  opacity: 0.7;
}

.error {
  color: #ef4444;
  font-size: 12px;
}