<div class="surface-0 shadow-5">
  <p-menubar
    [model]="items"
    class="w-full px-4 py-2 text-black border-noround bg-transparent"
  >
    <ng-template pTemplate="start">
      <span class="font-semibold text-lg">My Company</span>
    </ng-template>

    <ng-template pTemplate="end">
      @if (isBrowserReady) {

        <p-menu
          #avatarMenu
          [popup]="true"
          [model]="avatarItems"
          appendTo="body"
          class="surface-0 text-900 shadow-3 border-round">
        </p-menu>

        <p-avatar
          [label]="initials"
          shape="circle"
          class="bg-primary text-primary cursor-pointer p-1 shadow-5"
          (click)="avatarMenu.toggle($event)">
        </p-avatar>

      }
    </ng-template>
  </p-menubar>
</div>